*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html{
   background-color: #F5F8FF;
}
/* google font */

.raleway <raleway> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.inter-tight <inter> {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* font-style */
input,textarea{
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Header-section-start-here */
header{
    background-image: url('../assets/Hero-bg.png');
    height:698px ;
    max-width:1540px;
    margin: 0 auto;
    background-size:cover;
  
}

nav{
display: flex;
justify-content: space-between;
align-items: center;
height: 151px;
width: 1140px;
margin: 20px auto;


}
nav h1{
    font-size: 34px;
    color: #4E47FF;
   cursor: pointer;
   
}
.sing-up{
    background-color: #4E47FF;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    width: 132px;
    border-radius: 10px;
    cursor: pointer;
}

.sing-up:hover{
    background-color: rgb(255, 163, 43);
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 905px;
    height: 290px;
    margin: 100px auto;
    
}
.hero-section-title h1{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}
.Stay-Focused-btn{
height: 48px;
width: 174px;
font-size: 16px;
font-weight: bold;
margin:37px auto;
background-color: #4E47FF;
border: none;
color: white;
border-radius: 10px;
cursor: pointer;
}

.Stay-Focused-btn:hover{
    background-color: rgb(255, 163, 43);
}

main{
     background-color: #F5F8FF;
}
/* Action-section */
.action-section{
    height: 328px;
    width: 1140px;
    margin: 116px auto;
    display: flex;
    justify-content: space-between;
    

}
.action-title{
     height: 203px;
    width: 517px;
    margin: auto 0;

}
.action-title h1{
    font-size: 42px;
    font-weight: bold;
}
.action-title p{
    margin: 23px 0;
    font-size: 24px;
}

.Launch-Live-btn{
height: 48px;
width: 229px;
font-size: 16px;
font-weight: bold;
background-color: #4E47FF;
border: none;
color: white;
border-radius: 10px;
cursor: pointer;
}

.Launch-Live-btn:hover{
    background-color: rgb(255, 163, 43);
}

.action-img{
      height: 328px;
    width: 403px;
   
}

/* Productive-user-section */
.productive-user-section{
height: 306px;
width: 1140px;
margin:  116px auto;
background-color:#E5E7FF;
border-radius: 24px;

}

.productive-user-section h1{
    text-align: center;
    height: 45px;
    width: 856px;
  padding: 50px;
    margin: 50px 142px 50px 142px;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
   
}
.user-parent{   
display: flex; 
justify-content: center;
align-items: center;
margin: 0px 142px 0px 142px ;
gap:158px;    
height: 121px;
width: 856px;

}

.user-child{
text-align: center;
height: 121px;
width: 180px;
}
.user-child p{
font-size: 80px;
color: #4E47FF;
font-weight: bold;

}
.user-child span{
    font-size: 20px;
    color: #ABADBF;
}

/* review-section */
.review-section{
margin: 137px auto;
height: 342px;
width: 1140px;


}


.review-section h1{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
   margin-bottom: 8px;
}
.review-parent{
    margin-top: 45px;
    display: flex;
    margin-left: 10px;
   
    
}

.review-child{
 
height: 243px;
width: 366.67px;

}
.review-child .icon-star{
margin-top: 24px;    
margin-bottom: 30px;
}
.review-child h2{
margin-bottom: 8px;
}
.review-child p{
margin-bottom: 24px;
}
.avarter-section img{
  float: left;  
  margin-right: 10px;

}
.avarter-section h6{
  float: left;  
margin-top: 5px;

}
.review-child1{
    border-radius: 5px;
    margin-right: 10px;
    background-color: #FAFCFF;
}
.review-child2{
     border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FAFCFF;
}
.review-child3{
    border-radius: 5px;
    margin-left: 10px;
    background-color: #FAFCFF;
}

/* Webflow-section */
.Webflow-section{
height: 696.77px;
width: 1140px;
margin: 137px auto;
background-color: #FAFCFF;
border-radius: 10px;


}
.Webflow-child{
margin-top: 71px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}
.Webflow-child h1{
     padding-top: 20px;
    font-size: 60px;

}
.Webflow-child p{
    font-size: 22px;

}
 .Webflow-child button{
    border-radius: 10px;
    background-color: #4E47FF;
    border: none;
    height: 48px;
    width: 195px;
    cursor: pointer;
    color: white;
    font-size: 24px;
}
.Webflow-child button:hover{
    background-color: rgb(255, 163, 43);
}
.Webflow-child img{
    height: 364.77px;
    width: 840px;
    border-radius: 48px;

}

/* input-section */
.input-section{
height: 632px;
width: 1140px;
display: flex;
margin: 93px auto;
justify-content: space-around;
align-items: center;
}

.input-title h1{
font-size: 97px;
font-weight: bold;
}
.input-style{
    display: flex;
    flex-direction: column;
    height: 490px;
    width: 497px;
    font-size: 18px;
    gap: 19px;
    
}
.input-style input{
font-size: 20px;    
height: 70px;
width: 497px;    
border: none;
background-color:#FFFFFF;
border-radius: 20px;
padding: 10px;
}

.input-style textarea{
    font-size: 20px;
height: 135px;
width: 497px;    
border: none;
background-color:#FFFFFF;
border-radius: 20px;
padding: 10px;
}
.input-style button{
font-size: 24px;
height: 62px;
width: 497px;    
border: none;
background-color:#4E47FF;
color: white;
border-radius: 20px;
padding: 10px;
cursor: pointer;
}

.input-style button:hover{
    background-color: rgb(255, 163, 43);
}

/* footer-start-here */
.footer{
height: 428px;
width: 1540px;
margin: 0 auto; 
background-color: white;

}
.footer-part{
margin: 0 auto;    
height: 260px;
width: 531px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top:100px ;
}
.footer h1{
font-size: 100px;
color: #4E47FF;

}
.footer p{
color: #8987A1;

}
.nav{
    height: 24px;

}

.nav ul{
    display: flex;
    gap: 20px;
    margin: 0 auto;
}
.nav li{
    list-style: none;
}
.nav li a{
    text-decoration: none;
    color: #8987A1;
}